{% extends 'template.html.twig'  %}

{% block title %} 
    ToDo
{% endblock %}
{% block pageTitle %} 
    Liste des todos 
{% endblock %}

{% block body %}    
    
    <ol class="list-group">
        {% for name,content in app.session.get('todos') %}
            <li class="list-group-item">
                {{ name }} : {{ content }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}

